.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @include respond(tablet-portrait) {
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;

    @include respond(tablet-portrait) {
      flex: 1;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @include respond(tablet-portrait) {
        margin: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: $color-primary;

      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
        background-color 0.1s;
    }

    &:hover::before,
    &--active::before {
      transform: scaleY(1);
      width: 100%;
    }

    &:active::before {
      background-color: $color-primary-light;
    }
  }
  &__link:link,
  &__link:visited {
    color: $color-grey-light-1;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;

    @include respond(tablet-portrait) {
      justify-content: center;
      padding: 3rem;
      height: 100%;
    }

    @include respond(phone) {
      text-align: center;
      padding: 1.5rem;
      flex-direction: column;
    }
  }
  &__icon {
    font-size: 1.7rem;
    margin-right: 2rem;
    color: currentColor; // color of the parent element

    @include respond(phone) {
      font-size: 1.5rem;
      margin-right: 0;
      margin-bottom: 5px;
    }
  }
}

.legal {
  font-size: 1.2rem;
  text-align: center;
  color: $color-grey-light-4;
  padding: 2.5rem;

  @include respond(tablet-portrait) {
    display: none;
  }
}
