header.header
  img.logo(src="./img/logo.png" alt="trillo logo")
  form.search(action="#")
    input.search__input(type="search" placeholder="Search hotels")
    button.search__btn
      i.search__icon.icon-magnifying-glass
  nav.user-nav
    div.user-nav__icon-box
      i.user-nav__icon.icon-bookmark
      span.user-nav__notification 7
    div.user-nav__icon-box
      i.user-nav__icon.icon-chat
      span.user-nav__notification 13
    div.user-nav__user
      img.user-nav__user-photo(src="./img/user.jpg" alt="User photo")
      span.user-nav__user-name Jonas