main.hotel-view
  .gallery
    .gallery__item-1
      span.gallery__item-description main pool at night
    .gallery__item-2
      span.gallery__item-description main pool
    .gallery__item-3
      span.gallery__item-description.item3 Sea lanscaping view
  .overview
    h1.overview__heading Hotel Las Palmas
    .overview__starts
      i.overview__icon-start.icon-star
      i.overview__icon-start.icon-star
      i.overview__icon-start.icon-star
      i.overview__icon-start.icon-star
      i.overview__icon-start.icon-star
    .overview__location
      i.overview__icon-location.icon-location-pin
      button.btn-inline Albufeira, Portugal
    .overview__rating
      .overview__rating-average 8.6
      .overview__rating-count 429 votes