nav.sidebar
  ul.side-nav
    li.side-nav__item.side-nav__item--active
      a.side-nav__link(href='#')
        i.side-nav__icon.icon-home
        |                 hotel
    li.side-nav__item
      a.side-nav__link(href='#')
        i.side-nav__icon.icon-aircraft-take-off
        |                 flight
    li.side-nav__item
      a.side-nav__link(href='#')
        i.side-nav__icon.icon-key
        |                 car rental
    li.side-nav__item
      a.side-nav__link(href='#')
        i.side-nav__icon.icon-map
        |                 tour
  .legal &copy; 2017 by trillo. All rights reserved.