.btn-inline {
  display: inline-block;
  padding-bottom: 2px;
  border: none;
  color: $color-primary;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  .arrow {
    margin-left: 5px;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: $color-grey-dark-1;

    .arrow {
      margin-left: 10px;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}
